<app-pokemon-header></app-pokemon-header>
<body>
    <div class="Pokemon-list-class">
        <app-pokemon-card class="Pokemon-card-component" *ngFor="let pokemon of pokemonService.pokemons" [pokemon]="pokemon" onselectstart="return false" ></app-pokemon-card>
    </div>
        <div class="BTNUp" *ngIf="showButton" (click)="(toTop())">
            <img class="IMGSeta" src="https://cdn-icons-png.flaticon.com/512/59/59043.png">
        </div>
</body>

<app-pokemon-menu onselectstart="return false"></app-pokemon-menu>


