/*------ UTIL ------*/
$primary: #0062b0;
  $secondary: #ffcc00;
    $black: #000;
      $gray: #313131;
        $white: #fff;

/*------ CORPO ------*/
.BTNUp
{
    position: fixed;
    border-radius: 66%;
    width: 60px;
    height: 60px;
    left: 1.5%;
    top: 86%;
    background: linear-gradient(red 50%, $white 50%);
    border: solid 2px $black;
    animation: fadeIn 2s;
    cursor: pointer;
}

@keyframes fadeIn 
{
    0% {opacity:0;}
    100% {opacity:1;}
}


/*------ IMG ------*/
.IMGSeta
{
    width: 35px;
    height: 35px;
    margin-left: 11px;
    margin-top: 10px;
}


/*------ POKEMON_LIST ------*/
.Pokemon-list-class{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.Pokemon-card-component {
  width: 300px;
  padding: 10px;
  margin: 20px;
}

// .Pokemon-card-component:first-child {
//   display: none;
// }
