.Container-Master{
    width: 100%;
    height: 728px;
    display: flex;
}




.Container-Selection1{
    width: 30%;
    height: 100%;
    //background: blue;
    margin-left: 15%;
    margin-right: 5%;
}
.Container-Selection2{
    width: 30%;
    height: 100%;
    //background: #89ff08;
    /* float: right; */
    margin-right: 15%;
    margin-left: 5%;
}
.Pokemon-Selection{
    width: 100%;
    height: 45%;
    margin: auto;
    margin-top: 33px;
    background: #F2F2F2;
    border-radius: 4px 4px 66px 0px;
}




.Battle-result{
    width: 50px;
    height: 50px;
    margin-top: 0px;
    border-radius: 0px 0px 4px 4px;
    background: #F2F2F2;
}
.Battle-result-icon{
    width: 50px;
    height: 50px;
}



.Pokemon-Painel-Selection{
    width: 82.6%;
    height: 76%;
    margin: auto;
    top: 35px;
    margin-top: 39px;
    position: relative;
    background: #bfbfbf2e;
    border-radius: 4px 4px 33px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.Pokemon-Painel-Selection:hover{
    background: #bfbfbf6b;
}
.Pokemon-Painel-Selection:hover .Pokemon-Painel-Selection-P{
    color: #747474;
    display: grid;
}

.Pokemon-Painel-Selection-P{
    text-align: center;
    font-size: 26px;
    font-family: "Signika", Arial, sans-serif;
    padding-top: 26%;
    display: none;
}






.Pokemon-Fight{
    width: 153px;
    height: 64px;
    background: #d77171;
    border-radius: 4px;
    margin-top: 380px;
    margin-left: -109px;
    margin-right: -109px;
}

.Pokemon-Fight:hover{
    background: #d65a5a;
    cursor: pointer;
}
.Pokemon-Fight-P{
    font-size: 30px;
    text-align: center;
    margin: 22px;
    font-family: "Signika", Arial, sans-serif;
    color: white;

}






.Popup-Master[Aberto="false"]{
display: none;
}
.Popup-Master[Aberto="true"]{
    position: absolute;
    width: 69%;
    min-height: 937px;
    top: 241px;
    left: 15%;
    background: #ffffff;
    border: hidden;
}


.Popup-Close{
    width: 50px;
    height: 50px;
    left: -80px;
    top: 117.2px;
    position: absolute;
}
.Popup-Close:hover{
    cursor: pointer;
}

.Popup-Master2[Aberto2="false"]{
    display: none;
    }
    .Popup-Master2[Aberto2="true"]{
        position: absolute;
        width: 69%;
        min-height: 937px;
        top: 241px;
        left: 15%;
        background: #ffffff;
        border: hidden;
    }


    .Pokemon-IMG-Selected{
        width: 244px;
        margin-left: 54.5px;
        margin-right: 54.5px;
    }

.Pokemon-card-component:hover{
    box-shadow: 0 0 2em #0061b052;
    cursor: pointer;
}