<app-pokemon-header></app-pokemon-header>

    <div class="Container-Master" onselectstart="return false">
        <div class="Container-Selection1">
            <div class="Pokemon-Selection">
                <div class="Pokemon-Painel-Selection" (click)="Popup1 = !Popup1" [attr.result]="">
                    <p class="Pokemon-Painel-Selection-P" *ngIf="Pokemon1 == undefined">Selecione um Pokemon!</p>
                    <img class="Pokemon-IMG-Selected" *ngIf="Pokemon1 != undefined" [src]="getPokemonImage(Pokemon1)" [alt]="getPokemonNumber(Pokemon1)" onselectstart="return false" draggable="false">
                </div>
                <p *ngIf="Pokemon1 != undefined" style="text-transform: capitalize;text-align: center;font-size: 22px;padding-top: 46px;color: #4a4a4a;">{{Pokemon1.name}}</p> 
            </div>
            <div class="Battle-result" style="float:left">
                <mat-icon svgIcon="tie-icon" class="Battle-result-icon" *ngIf="result_tie == 5" ></mat-icon>  
                <mat-icon svgIcon="victory-icon" class="Battle-result-icon" *ngIf="result_victory == 1"></mat-icon>
                <mat-icon svgIcon="defeat-icon" class="Battle-result-icon" *ngIf="result_defeat == 4"></mat-icon>
            </div>
        </div>
        <div class="Pokemon-Fight"> 
            <p class="Pokemon-Fight-P" (click)="FightOn(Pokemon1,Pokemon2)">Start</p>
        </div>
        <div class="Container-Selection2">
            <div class="Pokemon-Selection" style="border-radius: 4px 4px 0px 66px;" >
                <div class="Pokemon-Painel-Selection" style="border-radius: 4px 4px 0px 33px;" (click)="Popup2 = !Popup2">
                    <p class="Pokemon-Painel-Selection-P" *ngIf="Pokemon2 == undefined">Selecione um Pokemon!</p>
                    <img class="Pokemon-IMG-Selected" *ngIf="Pokemon2 != undefined" [src]="getPokemonImage(Pokemon2)" [alt]="getPokemonNumber(Pokemon2)" draggable="false">
                </div>
                <p *ngIf="Pokemon2 != undefined" style="text-transform: capitalize;text-align: center;font-size: 22px;padding-top: 46px;color: #4a4a4a;">{{Pokemon2.name}}</p> 
            </div>
            <div class="Battle-result" style="float:right;border-radius: 0px 0px 4px 4px;">
                <mat-icon svgIcon="tie-icon" class="Battle-result-icon" *ngIf="result_tie == 5"></mat-icon>
                <mat-icon svgIcon="victory-icon" class="Battle-result-icon" *ngIf="result_victory == 3"></mat-icon>
                <mat-icon svgIcon="defeat-icon" class="Battle-result-icon" *ngIf="result_defeat == 2"></mat-icon>
            </div>
        </div>
    </div>

<div class="Popup-Master" [attr.Aberto]="Popup1">   
       <mat-icon svgIcon="close" class="Popup-Close" (click)="Popup1 = !Popup1"></mat-icon>
   <div class="Popup-Body">
    <div class="Pokemon-list-class" style="width: 100%;
    display: flex;
    flex-wrap: wrap;" >
        <app-pokemon-card (click)="data(Pokemon1 = pokemon)" (click)="Popup1 = !Popup1" class="Pokemon-card-component" *ngFor="let pokemon of pokemonService.pokemons" [pokemon]="pokemon" onselectstart="return false" style="margin: auto;width: 212px !important;margin-block-end: 10px;margin-top: 20px;"></app-pokemon-card>
    </div>
   </div>

</div>

<div class="Popup-Master2" [attr.Aberto2]="Popup2">   
        <mat-icon svgIcon="close" class="Popup-Close" (click)="Popup2 = !Popup2" ></mat-icon>
    <div class="Popup-Body">
     <div class="Pokemon-list-class" style="width: 100%;
     display: flex;
     flex-wrap: wrap;" >
         <app-pokemon-card  (click)="data(Pokemon2 = pokemon)" (click)="Popup2 = !Popup2" class="Pokemon-card-component" *ngFor="let pokemon of pokemonService.pokemons" [pokemon]="pokemon" onselectstart="return false" style="margin: auto;width: 212px !important;margin-block-end: 10px;margin-top: 20px;"></app-pokemon-card>
     </div>
    </div>
 
 </div>

<app-pokemon-menu></app-pokemon-menu>

