<div class="pokemon-card" *ngIf="pokemon">
    <div class="pokemon-card-img">
        <!-- <img [src]="pokemon.image" [alt]="pokemon.number"> -->
        <img [src]="getPokemonImage(pokemon)" [alt]="pokemon.number">
    </div>

    <div class="pokemon-card-name">
        {{pokemon.name}}
    </div>

    <div class="pokemon-card-type">
        <div class="pokemon-card-types" *ngFor="let type of pokemon.types" [class]="'pokemon-card-types-' + type.toLowerCase()">{{ type }}</div>
    </div>
</div>
