.pokemon-painel {
    background: #0062b0;
    height: 100%;
    width: 300px;
    //width: 300px;
    position: fixed;
    z-index: 1;
    right: -300px;
    top: 0px;
    transition: 0.5s;
}

.pokemon-painel[aberto='true'] {
    //width: 300px;
    transition: 0.5s;
    right: 0px;
}

.pokemon-menu{
    background: #0062b0;
    width: 55px;
    height: 50px;
    position: relative;
    top: 50%;
    border-radius: 9%;
    float: left;
    margin-left: -52px;
}

.menu-title{
    position: absolute;
    margin-left: 28%;
    margin-top: 54px;
}
.titles{
    font-family: "Signika", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: 59px;
    color: #f2f2f2;
    cursor: pointer;
}

.menu-link{
    margin-top: 269%;
    margin-left: 10px;
}

.titles-perfil-Git{
    border-radius: 100%;
    margin-left: 56px;
    margin-top: 172px;
    
}
.titles-perfil-Link{
    border-radius: 100%;
    margin-left: 176px;
    margin-top: -79px;
}

.IconHover:hover{
    fill:#ffcc00 !important;
    color: #ffcc00 !important;
    cursor: pointer
}

.BTNFechado-icon{
    width: 70px;
    height: 42px;
    margin-top: 8%;
    transition: 0.5s;
}

.BTNAberto-icon{
    width: 70px;
    height: 42px;
    margin-top: 8%;
    transition: 0.5s;
    margin-left: -10px;

}

.Mat-icon-title{
    width: 327px !important;
    height: 49px !important;
    fill: white
}

.titles-dzn{
    position: absolute;
    margin-left: -19px;
}
