.pokemon-painel {
    background: #0062b0;
    height: 100%;
    width: -300px;
    //width: 300px;
    position: fixed;
    z-index: 1;
    right: -3px;
    top: 0px;
}

.pokemon-painel[aberto='true'] {
    width: 300px;
    transition-delay: 0.5s
}

.pokemon-menu{
    background: #0062b0;
    width: 55px;
    height: 50px;
    position: relative;
    top: 50%;
    border-radius: 9%;
    float: left;
    margin-left: -52px;
}

.menu-title{
    height: 62%;
    position: absolute;
    margin-left: 27%;
}
.titles{
    font-family: "Signika", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: 47px;
    color: #f2f2f2;
}
.titles:hover{
    color: #ffcc00;
    cursor: pointer;
}

.menu-link{
    height: 38%;
    margin-top: 200%;
    position: absolute;
    width: 100%;
}

.titles-perfil-Git{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: 56px;
    margin-top: 172px;
}
.titles-perfil-Link{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: white;
    margin-left: 169px;
    margin-top: -79px;
}

.titles-perfil-Git:hover{
    cursor: pointer;
}

.titles-perfil-Link:hover{
    cursor: pointer;
}

