<div class="pokemon-painel" [attr.aberto]="aberto">
    <div class="pokemon-menu" (click)="aberto = !aberto">
        <mat-icon *ngIf="aberto == false" svgIcon="arrow_right" class="BTNFechado-icon"></mat-icon>
        <mat-icon *ngIf="aberto == true" svgIcon="arrow_left" class="BTNAberto-icon"></mat-icon>
    </div>
    <div class="menu-title">
        <div class="titles titles-dzn" style="padding-top: 110px;" routerLink="/" >
            Home
            <mat-icon svgIcon="home" class="Mat-icon-title " style="margin-top: 98px;" [style.fill]="teste == 1 ?  '#ffcc00' : 'white'"></mat-icon>
        </div>
        <div class="titles titles-dzn" routerLink="/PokeBattle" routerLinkActive="selected">
            Battle
            <mat-icon svgIcon="battle" class="Mat-icon-title " style="margin-top: 31px;" [style.fill]="teste == 0 ?  '#ffcc00' : '#fff'"></mat-icon>
        </div>
    </div>
    <div class="menu-link">
        <div class="titles-perfil-Git" (click)="navigate(URL_GIT)">
            <!-- <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" style="width: 79px;"> -->
            <mat-icon svgIcon="github" class="IconHover" style="width: 80px !important;height: 86px !important;fill:white"></mat-icon>
        </div>
        <div class="titles-perfil-Link" (click)="navigate(URL_LINKEDIN)">
            <!-- <img src="https://mekes.com/app/uploads/2020/12/linkedin-logo.png" style="width: 79px;"> -->
            <mat-icon svgIcon="linkedin" class="IconHover" style="width: 80px !important;height: 86px !important;fill:white"></mat-icon>
        </div>
    </div>
</div>